{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Solver</title>
    <link rel="stylesheet" href="{% static 'sudoku_solver/styles.css' %}">

</head>

<body>
    <div class="header">Sudoku solver</div>
    <div class="sudoku">
        <table>
            {% for row in sudoku %}
            <tr>
                {% for col in row %}
                {% if col %}
                <td>{{ col }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

        </table>
    </div>
    {% if solvable %}
    <div class="end">Sudoku is solvable</div>
    <a href="/sudoku_solver/">Randomize again</a>
    {% elif solvable == None %}
    <div class="solve">
        <form action="/sudoku_solver/" method="post">
            {% csrf_token %}
            <button type="submit">Solve</button>
        </form>
    </div>
    {% else %}
    <div class="end">Sudoku isn't solvable</div>
    <a class="end" href="/sudoku_solver/">Randomize again</a>
    {% endif %}

</body>

</html>